In [35]:
import pandas as pd

# Load the CSV data into DataFrames
master2 = pd.read_csv('master2.csv')
ad_birth = pd.read_csv('Healthy life expectancy at birth.csv')
ad_money = pd.read_csv('money.csv')
ad_time = pd.read_csv('time.csv')

In [36]:
# Sort the main DataFrame by year and country
master2.sort_values(['year', 'ISO3'], inplace=True)

In [37]:
# Merge the data on 'year' and 'country' columns, keeping all rows

newmaster2 = pd.merge(master2, ad_time, on=['year', 'ISO3'], how='left')
newmaster2 = pd.merge(master2, ad_money, on=['year', 'ISO3'], how='left')
newmaster2 = pd.merge(master2, ad_birth, on=['year', 'ISO3'], how='left')

ValueError: You are trying to merge on object and float64 columns. If you wish to proceed you should use pd.concat

In [ ]:
# Merge the data on 'year' and 'country' columns, keeping all rows

newmaster2 = pd.merge(master2, ad_time, on=['year', 'ISO3'], how='left')
newmaster2 = pd.merge(master2, ad_money, on=['year', 'ISO3'], how='left')

In [ ]:
# Forward fill missing values with data from the previous year
newmaster2.fillna(method='ffill', inplace=True)

# Display the merged DataFrame
print(newmaster2)

       Country name Alpha-2 code ISO3  Numeric code  latitude  longitude
0             Aruba           AW  ABW           533   12.5000   -69.9667  \
1       Afghanistan           AF  AFG             4   33.0000    65.0000
2            Angola           AO  AGO            24  -12.5000    18.5000
3          Anguilla           AI  AIA           660   18.2500   -63.1667
4           Albania           AL  ALB             8   41.0000    20.0000
...             ...          ...  ...           ...       ...        ...
16123         Samoa           WS  WSM           882  -13.5833  -172.3333
16124         Yemen           YE  YEM           887   15.0000    48.0000
16125  South Africa           ZA  ZAF           710  -29.0000    24.0000
16126        Zambia           ZM  ZMB           894  -15.0000    30.0000
16127      Zimbabwe           ZW  ZWE           716  -20.0000    30.0000

       year INDICATOR_x SUBJECT_x MEASURE_x FREQUENCY_x    time  Flag Codes_x
0      1960         NaN       NaN       NaN         NaN     NaN           NaN  \
1      1960         NaN       NaN       NaN         NaN     NaN           NaN
2      1960         NaN       NaN       NaN         NaN     NaN           NaN
3      1960         NaN       NaN       NaN         NaN     NaN           NaN
4      1960         NaN       NaN       NaN         NaN     NaN           NaN
...     ...         ...       ...       ...         ...     ...           ...
16123  2022       HRWKD       TOT    HR_WKD           A  1791.0           NaN
16124  2022       HRWKD       TOT    HR_WKD           A  1791.0           NaN
16125  2022       HRWKD       TOT    HR_WKD           A  1791.0           NaN
16126  2022       HRWKD       TOT    HR_WKD           A  1791.0           NaN
16127  2022       HRWKD       TOT    HR_WKD           A  1791.0           NaN

      INDICATOR_y SUBJECT_y MEASURE_y FREQUENCY_y     money  Flag Codes_y
0             NaN       NaN       NaN         NaN       NaN           NaN
1             NaN       NaN       NaN         NaN       NaN           NaN
2             NaN       NaN       NaN         NaN       NaN           NaN
3             NaN       NaN       NaN         NaN       NaN           NaN
4             NaN       NaN       NaN         NaN       NaN           NaN
...           ...       ...       ...         ...       ...           ...
16123      AVWAGE       TOT       USD           A  77463.47           NaN
16124      AVWAGE       TOT       USD           A  77463.47           NaN
16125      AVWAGE       TOT       USD           A  77463.47           NaN
16126      AVWAGE       TOT       USD           A  77463.47           NaN
16127      AVWAGE       TOT       USD           A  77463.47           NaN

[16128 rows x 19 columns]